@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1551232462385'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1551232462385#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1551232462385') format('woff'),
  url('../fonts/iconfont.ttf?t=1551232462385') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg?t=1551232462385#iconfont') format('svg'); /* iOS 4.1- */
}

.fd-icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.el-menu .fd-icon {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
}

.fd-icon-CSS1:before {
  content: "\e600";
}

.fd-icon-tiaoshi:before {
  content: "\eb61";
}

.fd-icon-changjingguanli:before {
  content: "\eb62";
}

.fd-icon-fenxiangfangshi:before {
  content: "\eb63";
}

.fd-icon-bianji:before {
  content: "\eb64";
}

.fd-icon-guanlianshebei:before {
  content: "\eb65";
}

.fd-icon-guanfangbanben:before {
  content: "\eb66";
}

.fd-icon-gongnengdingyi:before {
  content: "\eb67";
}

.fd-icon-jichuguanli:before {
  content: "\eb68";
}

.fd-icon-jishufuwu:before {
  content: "\eb69";
}

.fd-icon-hezuohuobanmiyueguanli:before {
  content: "\eb6a";
}

.fd-icon-ceshishenqing:before {
  content: "\eb6b";
}

.fd-icon-jiedianguanli:before {
  content: "\eb6c";
}

.fd-icon-jinggao:before {
  content: "\eb6d";
}

.fd-icon-peiwangyindao:before {
  content: "\eb6e";
}

.fd-icon-renjijiaohu:before {
  content: "\eb6f";
}

.fd-icon-shiyongwendang:before {
  content: "\eb70";
}

.fd-icon-shebeikaifa:before {
  content: "\eb71";
}

.fd-icon-quanxianshenpi:before {
  content: "\eb72";
}

.fd-icon-yishouquan:before {
  content: "\eb73";
}

.fd-icon-tianshenpi:before {
  content: "\eb74";
}

.fd-icon-shujukanban:before {
  content: "\eb75";
}

.fd-icon-yingyongguanli:before {
  content: "\eb76";
}

.fd-icon-yibiaopan:before {
  content: "\eb77";
}

.fd-icon-zhanghaoquanxianguanli:before {
  content: "\eb78";
}

.fd-icon-yuanquyunwei:before {
  content: "\eb79";
}

.fd-icon-zhunbeiliangchan:before {
  content: "\eb7a";
}

.fd-icon-jizhanguanli:before {
  content: "\eb7b";
}

.fd-icon-electron:before {
  content: "\e643";
}

.fd-icon-guanbi:before {
  content: "\eb7c";
}

.fd-icon-zidingyi:before {
  content: "\eb7d";
}

.fd-icon-xiajiantou:before {
  content: "\eb7e";
}

.fd-icon-shangjiantou:before {
  content: "\eb7f";
}

.fd-icon-icon_loading:before {
  content: "\eb80";
}

.fd-icon-icon_renwujincheng:before {
  content: "\eb88";
}

.fd-icon-icon_rukou:before {
  content: "\eb89";
}

.fd-icon-icon_yiwenkongxin:before {
  content: "\eb8a";
}

.fd-icon-icon_fabu:before {
  content: "\eb8b";
}

.fd-icon-icon_tianjia:before {
  content: "\eb8c";
}

.fd-icon-icon_yulan:before {
  content: "\eb8d";
}

.fd-icon-icon_zhanghao:before {
  content: "\eb8e";
}

.fd-icon-icon_wangye:before {
  content: "\eb8f";
}

.fd-icon-icon_shezhi:before {
  content: "\eb90";
}

.fd-icon-icon_baocun:before {
  content: "\eb91";
}

.fd-icon-icon_yingyongguanli:before {
  content: "\eb92";
}

.fd-icon-icon_shiyongwendang:before {
  content: "\eb93";
}

.fd-icon-icon_bangzhuwendang:before {
  content: "\eb94";
}

.fd-icon-biaodanzujian-shurukuang:before {
  content: "\eb95";
}

.fd-icon-biaodanzujian-biaoge:before {
  content: "\eb96";
}

.fd-icon-biaodanzujian-xialakuang:before {
  content: "\eb97";
}

.fd-icon-tubiao-bingtu:before {
  content: "\eb98";
}

.fd-icon-biaodanzujian-anniu:before {
  content: "\eb99";
}

.fd-icon-gongyezujian-yibiaopan:before {
  content: "\eb9a";
}

.fd-icon-tubiao-qiapian:before {
  content: "\eb9b";
}

.fd-icon-gongyezujian-zhishideng:before {
  content: "\eb9c";
}

.fd-icon-tubiao-zhexiantu:before {
  content: "\eb9d";
}

.fd-icon-xingzhuang-juxing:before {
  content: "\eb9e";
}

.fd-icon-xingzhuang-jianxing:before {
  content: "\eb9f";
}

.fd-icon-gongyezujian-kaiguan:before {
  content: "\eba0";
}

.fd-icon-tubiao-zhuzhuangtu:before {
  content: "\eba1";
}

.fd-icon-xingzhuang-tupian:before {
  content: "\eba2";
}

.fd-icon-xingzhuang-wenzi:before {
  content: "\eba3";
}

.fd-icon-xingzhuang-tuoyuanxing:before {
  content: "\eba4";
}

.fd-icon-xingzhuang-sanjiaoxing:before {
  content: "\eba5";
}

.fd-icon-xingzhuang-xingxing:before {
  content: "\eba6";
}

.fd-icon-guize:before {
  content: "\ebb7";
}

.fd-icon-shebeiguanli:before {
  content: "\ebb8";
}

.fd-icon-gongnengdingyi1:before {
  content: "\ebb9";
}

.fd-icon-jishufuwu1:before {
  content: "\ebce";
}

.fd-icon-yunyingzhongxin:before {
  content: "\ebd0";
}

.fd-icon-yunyingguanli:before {
  content: "\ebd1";
}

.fd-icon-zuzhixiaxia:before {
  content: "\ebd8";
}

.fd-icon-zuzhizhankai:before {
  content: "\ebd9";
}

.fd-icon-zuzhiqunzu:before {
  content: "\ebda";
}

.fd-icon-dakai:before {
  content: "\ebdf";
}

.fd-icon-yingwen:before {
  content: "\ebe0";
}

.fd-icon-zhongwen:before {
  content: "\ebe2";
}

.fd-icon-miwen:before {
  content: "\ebe3";
}

.fd-icon-xianhao:before {
  content: "\ebe4";
}

.fd-icon-kongxinduigou:before {
  content: "\ebe5";
}

.fd-icon-huixingzhen:before {
  content: "\ebe6";
}

.fd-icon-duigou:before {
  content: "\ebe7";
}

.fd-icon-xiayibu:before {
  content: "\ebef";
}

.fd-icon-shangyibu:before {
  content: "\ebf0";
}

.fd-icon-kongjianxuanzhong:before {
  content: "\ebf1";
}

.fd-icon-kongjianweixuan:before {
  content: "\ebf2";
}

.fd-icon-kongjianyixuan:before {
  content: "\ebf3";
}

.fd-icon--diangan:before {
  content: "\ebfb";
}

.fd-icon-rongxuejirongjiechi:before {
  content: "\ebfc";
}

.fd-icon-lubiantingchechang:before {
  content: "\ebfd";
}

.fd-icon--lumingpai:before {
  content: "\ebfe";
}

.fd-icon-jietouzuoyi:before {
  content: "\ebff";
}

.fd-icon--zhongdaweixian:before {
  content: "\ec00";
}

.fd-icon--jiaotongbiaozhipai:before {
  content: "\ec01";
}

.fd-icon-gongcezhishipai:before {
  content: "\ec02";
}

.fd-icon-fangkuai:before {
  content: "\ec06";
}

.fd-icon-fangkuai-:before {
  content: "\ec07";
}

.fd-icon-shuaxin:before {
  content: "\ec08";
}

.fd-icon-baocun:before {
  content: "\ec09";
}

.fd-icon-fabu:before {
  content: "\ec0a";
}

.fd-icon-xiayibu1:before {
  content: "\ec0b";
}

.fd-icon-shangyibu1:before {
  content: "\ec0c";
}

.fd-icon-xiangxiazhanhang:before {
  content: "\ec0d";
}

.fd-icon-xiangshangzhanhang:before {
  content: "\ec0e";
}

.fd-icon-tupianjiazaishibai:before {
  content: "\ec0f";
}

.fd-icon-fuwudiqiu:before {
  content: "\ec10";
}

.fd-icon-suoxiao:before {
  content: "\ec13";
}

.fd-icon-fangda:before {
  content: "\ec14";
}

.fd-icon-huanyuanhuabu:before {
  content: "\ec15";
}

.fd-icon-quanping:before {
  content: "\ec16";
}

.fd-icon-biaodanzujian-biaoge1:before {
  content: "\ec17";
}

.fd-icon-APIshuchu:before {
  content: "\ec18";
}

.fd-icon-APIjieru:before {
  content: "\ec19";
}

.fd-icon-wenjianjia:before {
  content: "\ec1a";
}

.fd-icon-DOC:before {
  content: "\ec1b";
}

.fd-icon-BMP:before {
  content: "\ec1c";
}

.fd-icon-GIF:before {
  content: "\ec1d";
}

.fd-icon-JPG:before {
  content: "\ec1e";
}

.fd-icon-PNG:before {
  content: "\ec1f";
}

.fd-icon-weizhigeshi:before {
  content: "\ec20";
}

.fd-icon-gengduo:before {
  content: "\ec21";
}

.fd-icon-yunduanxiazai:before {
  content: "\ec22";
}

.fd-icon-yunduanshangchuan:before {
  content: "\ec23";
}

.fd-icon-dian:before {
  content: "\ec24";
}

.fd-icon-mian:before {
  content: "\ec25";
}

.fd-icon-xian:before {
  content: "\ec26";
}

.fd-icon-shebeizhuangtai:before {
  content: "\ec27";
}

.fd-icon-fenzuguanli:before {
  content: "\ec28";
}

.fd-icon-kuaisubianpai:before {
  content: "\ec29";
}

.fd-icon-APPkaifa:before {
  content: "\ec2a";
}

.fd-icon-wentijieda:before {
  content: "\ec2e";
}

.fd-icon-kefu:before {
  content: "\ec2f";
}

.fd-icon-ruanjiankaifabao:before {
  content: "\ec30";
}

.fd-icon-sousuobianxiao:before {
  content: "\ec32";
}

.fd-icon-sousuofangda:before {
  content: "\ec33";
}

.fd-icon-dingwei:before {
  content: "\ec34";
}

.fd-icon-wumoxing:before {
  content: "\ec35";
}

.fd-icon-gaojing:before {
  content: "\ec36";
}

.fd-icon-renwujincheng:before {
  content: "\ec37";
}

.fd-icon-xiaoxitongzhi:before {
  content: "\ec38";
}

.fd-icon-youhui:before {
  content: "\ec39";
}

.fd-icon-gaojing1:before {
  content: "\ec3a";
}

.fd-icon-zhihangfankui:before {
  content: "\ec3b";
}

.fd-icon-gongdanqueren:before {
  content: "\ec3c";
}

.fd-icon-guangbo:before {
  content: "\ec3d";
}

.fd-icon-gongdan:before {
  content: "\ec3e";
}

.fd-icon-xiaoxi:before {
  content: "\ec3f";
}

.fd-icon-ditu-qi:before {
  content: "\ec40";
}

.fd-icon-ditu-dibiao:before {
  content: "\ec41";
}

.fd-icon-ditu-cha:before {
  content: "\ec42";
}

.fd-icon-ditu-qipao:before {
  content: "\ec43";
}

.fd-icon-ditu-tuding:before {
  content: "\ec44";
}

.fd-icon-ditu-huan:before {
  content: "\ec45";
}

.fd-icon-ditu-xing:before {
  content: "\ec46";
}

.fd-icon-ditu-yuan:before {
  content: "\ec47";
}

.fd-icon-chehuisekuai:before {
  content: "\ec48";
}

.fd-icon-shanchusekuai:before {
  content: "\ec49";
}

.fd-icon-fabusekuai:before {
  content: "\ec4a";
}

.fd-icon-xinhao:before {
  content: "\ec4b";
}

.fd-icon-lanya:before {
  content: "\ec4c";
}

.fd-icon-Wi-Fi:before {
  content: "\ec4d";
}

.fd-icon-chaxun:before {
  content: "\ec4e";
}

.fd-icon-dianbiao:before {
  content: "\ec4f";
}

.fd-icon-anquan:before {
  content: "\ec50";
}

.fd-icon-daibanshixiang:before {
  content: "\ec51";
}

.fd-icon-bingxiang:before {
  content: "\ec52";
}

.fd-icon-fanshe:before {
  content: "\ec53";
}

.fd-icon-fengche:before {
  content: "\ec54";
}

.fd-icon-guandao:before {
  content: "\ec55";
}

.fd-icon-guize1:before {
  content: "\ec56";
}

.fd-icon-guizeyinqing:before {
  content: "\ec57";
}

.fd-icon-huowudui:before {
  content: "\ec58";
}

.fd-icon-jianceqi:before {
  content: "\ec59";
}

.fd-icon-jinggai:before {
  content: "\ec5a";
}

.fd-icon-liujisuan:before {
  content: "\ec5b";
}

.fd-icon-hanshu:before {
  content: "\ec5c";
}

.fd-icon-lianjieliu:before {
  content: "\ec5d";
}

.fd-icon-ludeng:before {
  content: "\ec5e";
}

.fd-icon-shexiangji:before {
  content: "\ec5f";
}

.fd-icon-rentijiance:before {
  content: "\ec60";
}

.fd-icon-moshubang:before {
  content: "\ec61";
}

.fd-icon-shujuwajue:before {
  content: "\ec62";
}

.fd-icon-wangguan:before {
  content: "\ec63";
}

.fd-icon-shenjing:before {
  content: "\ec64";
}

.fd-icon-chucun:before {
  content: "\ec65";
}

.fd-icon-wuguan:before {
  content: "\ec66";
}

.fd-icon-yunduanshuaxin:before {
  content: "\ec67";
}

.fd-icon-yunhang:before {
  content: "\ec68";
}

.fd-icon-luyouqi:before {
  content: "\ec69";
}

.fd-icon-bug:before {
  content: "\ec6a";
}

.fd-icon-get:before {
  content: "\ec6b";
}

.fd-icon-PIR:before {
  content: "\ec6c";
}

.fd-icon-zhexiantu:before {
  content: "\ec6d";
}

.fd-icon-shuibiao:before {
  content: "\ec6e";
}

.fd-icon-js:before {
  content: "\ec6f";
}

.fd-icon-zihangche:before {
  content: "\ec70";
}

.fd-icon-liebiao:before {
  content: "\ec71";
}

.fd-icon-qichedingwei:before {
  content: "\ec72";
}

.fd-icon-dici:before {
  content: "\ec73";
}

.fd-icon-mysql:before {
  content: "\ec74";
}

.fd-icon-qiche:before {
  content: "\ec75";
}

.fd-icon-shenjing1:before {
  content: "\ec76";
}

.fd-icon-chengshi:before {
  content: "\ec77";
}

.fd-icon-tixingshixin:before {
  content: "\ec78";
}

.fd-icon-menci:before {
  content: "\ec79";
}

.fd-icon-chazuo:before {
  content: "\ec7a";
}

.fd-icon-ranqijianceqi:before {
  content: "\ec7b";
}

.fd-icon-kaiguan:before {
  content: "\ec7c";
}

.fd-icon-chatou:before {
  content: "\ec7d";
}

.fd-icon-xiyiji:before {
  content: "\ec7e";
}

.fd-icon-yijiankaiguan:before {
  content: "\ec7f";
}

.fd-icon-yanwubaojingqi:before {
  content: "\ec80";
}

.fd-icon-wuxiandianbo:before {
  content: "\ec81";
}

.fd-icon-fuzhi:before {
  content: "\ec82";
}

.fd-icon-shanchu:before {
  content: "\ec83";
}

.fd-icon-bianjisekuai:before {
  content: "\ec84";
}

.fd-icon-ishipinshixiao:before {
  content: "\ec85";
}

.fd-icon-iframetianjia:before {
  content: "\ec86";
}

.fd-icon-tupiantianjia:before {
  content: "\ec87";
}

.fd-icon-liebiaomoshi_kuai:before {
  content: "\ec88";
}

.fd-icon-qiapianmoshi_kuai:before {
  content: "\ec89";
}

.fd-icon-fenlan:before {
  content: "\ec8a";
}

.fd-icon-fengexian:before {
  content: "\ec8b";
}

.fd-icon-dianzan:before {
  content: "\ec8c";
}

.fd-icon-charulianjie:before {
  content: "\ec8d";
}

.fd-icon-charutupian:before {
  content: "\ec8e";
}

.fd-icon-quxiaolianjie:before {
  content: "\ec8f";
}

.fd-icon-wuxupailie:before {
  content: "\ec90";
}

.fd-icon-juzhongduiqi:before {
  content: "\ec91";
}

.fd-icon-yinyong:before {
  content: "\ec92";
}

.fd-icon-youxupailie:before {
  content: "\ec93";
}

.fd-icon-youduiqi:before {
  content: "\ec94";
}

.fd-icon-zitidaima:before {
  content: "\ec95";
}

.fd-icon-xiaolian:before {
  content: "\ec96";
}

.fd-icon-zitijiacu:before {
  content: "\ec97";
}

.fd-icon-zitishanchuxian:before {
  content: "\ec98";
}

.fd-icon-zitishangbiao:before {
  content: "\ec99";
}

.fd-icon-zitibiaoti:before {
  content: "\ec9a";
}

.fd-icon-zitixiahuaxian:before {
  content: "\ec9b";
}

.fd-icon-zitixieti:before {
  content: "\ec9c";
}

.fd-icon-zitiyanse:before {
  content: "\ec9d";
}

.fd-icon-zuoduiqi:before {
  content: "\ec9e";
}

.fd-icon-zitiyulan:before {
  content: "\ec9f";
}

.fd-icon-zitixiabiao:before {
  content: "\eca0";
}

.fd-icon-zuoyouduiqi:before {
  content: "\eca1";
}

.fd-icon-tianxie:before {
  content: "\eca2";
}

.fd-icon-huowudui1:before {
  content: "\eca3";
}

.fd-icon-yingjian:before {
  content: "\eca4";
}

.fd-icon-shebeikaifa1:before {
  content: "\eca5";
}

.fd-icon-dianzan_kuai:before {
  content: "\eca6";
}

.fd-icon-zhihuan:before {
  content: "\eca7";
}

.fd-icon-tuoguan:before {
  content: "\eca8";
}

.fd-icon-duigoux:before {
  content: "\eca9";
}

.fd-icon-guanbi1:before {
  content: "\ecaa";
}

.fd-icon-aixin_shixin:before {
  content: "\ecab";
}

.fd-icon-ranqixieloubaojingqi:before {
  content: "\ecac";
}

.fd-icon-dianbiao_shiti:before {
  content: "\ecad";
}

.fd-icon-aixin:before {
  content: "\ecae";
}

.fd-icon-shuibiao_shiti:before {
  content: "\ecaf";
}

.fd-icon-zhinengxiaofangshuan:before {
  content: "\ecb0";
}

.fd-icon-ranqibiao_shiti:before {
  content: "\ecb1";
}

.fd-icon-shexiangtou_shiti:before {
  content: "\ecb2";
}

.fd-icon-shexiangtou_guanbi:before {
  content: "\ecb3";
}

.fd-icon-shexiangtou:before {
  content: "\ecb4";
}

.fd-icon-shengyin_shiti:before {
  content: "\ecb5";
}

.fd-icon-shengyinkai:before {
  content: "\ecb6";
}

.fd-icon-shoucang_shixin:before {
  content: "\ecb7";
}

.fd-icon-shoucang:before {
  content: "\ecb8";
}

.fd-icon-shengyinwu:before {
  content: "\ecb9";
}

.fd-icon-shengyinjingyin:before {
  content: "\ecba";
}

